@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2c2c2c;
  --accent1: #00ffb2;
  --accent2: #1e90ff;
  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: var(--primary);
  background-image: radial-gradient(
      circle at 100% 100%,
      rgba(0, 255, 178, 0.1) 0%,
      transparent 70%
    ),
    radial-gradient(
      circle at 0% 0%,
      rgba(30, 144, 255, 0.1) 0%,
      transparent 70%
    );
  color: var(--text-primary);
  line-height: 1.6;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--accent2);
  border-radius: 2px;
}
